@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">JetpackCoreDemo</h1>

    <br />            <br />            <br />            <br />

    @*<a class="btn btn-primary" asp-action="Test WebAPI" asp-route-id="@item.Id">Edit</a>*@




    <div class="row">
        <div class="col-sm">
    
        </div>
        <div class="col-sm">
            <button type=”button” class=”btn btn-primary btn-lg”>Test WebAPI</button>
 
        </div>
        <div class="col-sm">
     
        </div>
    </div>


</div>
